@{
    ViewBag.Title = "Orders for shipment";
}
@model AVTestApp.Presentation.Mvc.ViewModels.OrdersVM

<div class="row">
    <div class="col-12">
        <h1>
            Orders for shipment
        </h1>
    </div>

    <form method="POST" action="@Url.Action("Ship", "Home")">
        <div class="row">
            <table class="table">
                <tr>
                    <th>
                        <input class="btn btn-outline-info" type="button" value="All" />
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        First name
                    </th>
                    <th>
                        Last name
                    </th>
                    <th>
                        Country name
                    </th>
                    <th>
                        State name
                    </th>
                    <th>
                        City name
                    </th>
                    <th>
                        Address name
                    </th>
                </tr>
                @foreach (var order in Model.OrdersToShipment)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="orderIDs" value="@order.Id" />
                        </td>
                        <td>
                            @order.Id
                        </td>
                        <td>
                            @order.FirstName
                        </td>
                        <td>
                            @order.LastName
                        </td>
                        <td>
                            @order.Country
                        </td>
                        <td>
                            @order.State
                        </td>
                        <td>
                            @order.City
                        </td>
                        <td>
                            @order.Address
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-outline-success">
                    Send
                </button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <textarea>
                @Model.FulfilmentJson
            </textarea>
            </div>
        </div>
    </form>
</div>
